@charset "UTF-8";

@media screen and (min-width: 768px) {
    #box {
        width: 650px;
        height: 350px;
    }

    #box-int {
        display: inline-block;
        height: 100%;
        width: 40%;
        border-radius: 20px 0px 0px 20px;
    }

    main {
        position: absolute;
        display: inline-block;
        text-align: center;
        height: 100%;
        width: 60%;
    }

    h1 {
        width: 100%;
    }
    
    p#text {
        width: 350px;
    }

    .inputs {
        width: 350px;
    }

    #iemail {
        width: 300px;
    }

    #ipass {
        width: 300px;
    }

    #but-login {
        width: 350px;
    }

    #but-recovery {
        width: 350px;
    }
}

