@charset "UTF-8";

@media screen and (min-width: 768px) {
    #box {
        width: 650px;
        height: 320px;
        border-radius: 20px;
    }

    #box-int {
        display: inline-block;
        height: 100%;
        width: 30%;
        background-image: url("imagens/flag-m.jpg");
        border-radius: 20px 0px 0px 20px;
    }

    main {
        position: absolute;
        display: inline-block;
        text-align: center;
        height: 100%;
        width: 70%;
    }

    h1 {
        width: 100%;
    }
    
    p#text {
        width: 350px;
    }

    .inputs {
        padding: 0px 0px 5px;
        width: 90%;
        height: 50px;
        margin-bottom: 5px;
    }

    #iemail {
        width: 85%;
    }

    #ipass {
        width: 85%;
    }

    #but-login {
        width: 90%;
    }

    #but-recovery {
        width: 90%;
    }
}

@media screen and (min-width: 1400px) {
    #box {
        width: 1000px;
        height: 480px;
        border-radius: 20px;
    }

    #box-int {
        position: absolute;
        display: inline-block;
        right: 0px;
        height: 100%;
        width: 35%;
        background-image: url('imagens/flag-g.jpg');
        border-radius: 0px 20px 20px 0px;
    }
 
    main {
        position: absolute;
        display: inline-block;
        text-align: center;
        height: 100%;
        width: 65%;
    }

    h1 {
        width: 100%;
        font-size: 3em;
        margin: 20px 0px 10px;
    }
    
    p#text {
        width: 90%;
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .inputs {
        padding: 5px 0px;
        width: 90%;
        height: 60px;
        margin-bottom: 10px;
    }

    #iemail {
        width: 90%;
        height: 50px;
        font-size: 1.3em;
    }

    #ipass {
        width: 90%;
        height: 50px;
        font-size: 1.3em;
    }

    #but-login {
        width: 90%;
        height: 50px;
        font-size: 1.2em;
    }

    #but-recovery {
        width: 90%;
        height: 50px;
        font-size: 1em;
    }
}